

<div class="bit-75">
  <% @article.each do |article| %>
    <h2 id="title"><%= link_to article.title, article_path(article) %></h2>
    <br>
    <ul id="article-links">
      <div id="article-image"><%= image_tag article.image_url %></div>
      <div>
        <iframe width="560" height="345" src=<%= article.video_url %> frameborder="0" allowfullscreen></iframe>
      </div>
      <br>
      <li id="article-text"><%= article.text %></li>

    <p>Posted on <%= article.created_at %></p>
  
 

      
    <% if admin_signed_in? %>
      <li><%= link_to 'Edit',           edit_article_path(article) %></li>
      <li><%= link_to 'Destroy',        article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?'} %></li>
      <li><%= link_to 'New article', new_article_path %></li>
    <% else %>                
      <li><%= link_to 'Make a Comment', article_path(article) %><p>Comments(<%= article.comments.count %>)</p></li>      
    </ul>
    <div class="sexy_line"></div>
    <% end %>   
  <% end %>



<div id="new-article-path"></div>
</div>
<div class="bit-5">
  <h2>Recent Posts</h2>
  
    <br>
  
  <% @article.each do |article| %>
  
    <ul id="recent-article">
      <li><%= link_to article.title, article_path(article) %></li>
    </ul>
  
  <% end %>
    <br>
    <br>
  
  <h2>Archives</h2>
   
  <% @articles_by_month.each do |monthname, articles| %>
    <h4 id="month-archive"><%=link_to monthname, archives_path %></h4>
      
    <% end %>
    

  
  <!-- <h2>Tags</h2> -->
</div>

